
WorkerService_Demo/.vs/WorkerService_Demo/v16/.suo
WorkerService_Demo/.vs/WorkerService_Demo/v16/Server/sqlite3/db.lock
WorkerService_Demo/.vs/WorkerService_Demo/v16/Server/sqlite3/storage.ide
WorkerService_Demo/.vs/WorkerService_Demo/v16/Server/sqlite3/storage.ide-shm
WorkerService_Demo/.vs/WorkerService_Demo/v16/Server/sqlite3/storage.ide-wal
WorkerService_Demo/WorkerService_Demo/obj
WorkerService_Demo/WorkerService_Demo/bin
